<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.groupware.mapper.ApprovalMapper">

	<insert id="create">
		insert into apv_tb (apv_sq,
		div_apv_sq,
		stf_sq,
		stf_mid_sq,
		stf_fnl_sq,
		apv_ok_sq,
		apv_nm,
		apv_pl_rt,
		apv_pl_nm)
		values(SEQ_APV.NEXTVAL,#{div_apv_sq},#{stf_sq},#{stf_mid_sq},5,3,#{apv_nm},#{apv_pl_rt},#{apv_pl_nm})
	</insert>

	<select id="read" parameterType="Map" resultType="ApprovalVO">
		select
		apv_sq,
		apv_pl_nm,
		apv_nm,
		stf_nm,
		mid_nm,
		apv_ok,
		div_apv_nm,
		stf_admn_sq,
		apv_pl_rt
		from
		apv_vw
		where apv_sq
		= #{apv_sq}
	</select>
	
	<select id="stfAdmn" resultType="int">
		select
		admn_sq
	    from
	    stf_tb
		where stf_sq
		= #{stf_sq}
	</select>

	<update id="update" parameterType="Map">
		update apv_tb set apv_ok_sq
		=#{apv_ok_sq}
		where apv_sq = #{apv_sq}
	</update>

	<delete id="delete">
		delete from ntc_tb where ntc_sq = #{ntc_sq}
	</delete>

	<select id="count" resultType="int">
		select COUNT(*)AS CNT
		FROM APV_VW
		WHERE div_apv_sq=#{div_apv_sq}
		AND ((mid_sq = #{stf_sq} or stf_sq=#{stf_sq}) or (apv_ok_sq=2 and mid_admn_sq>2))
	</select>

	<select id="searchCount" resultType="int">
		select COUNT(*)AS CNT
		FROM APV_VW
		WHERE div_apv_sq=#{div_apv_sq}
		AND
		stf_sq = #{stf_sq}
		<choose>
			<when test="cate == 1">
				AND stf_nm LIKE #{keyword} || '%'
			</when>
			<when test="cate == 2">
				AND apv_nm LIKE #{keyword} || '%'
			</when>
			<otherwise>

			</otherwise>
		</choose>

	</select>


	<select id="listAll" resultType="com.study.groupware.vo.ApprovalVO">
		SELECT B.*
		FROM
		(SELECT ROWNUM AS RNUM ,A.*
		FROM(SELECT
		*
		FROM
		APV_VW
		WHERE
		div_apv_sq = #{div_apv_sq}
		AND ((mid_sq = #{stf_sq} or stf_sq=#{stf_sq}) or (apv_ok_sq=2 or mid_admn_sq=5))

		<choose>
			<when test="cate == 1">
				AND stf_nm LIKE #{keyword} || '%'
			</when>
			<when test="cate == 2">
				AND apv_nm LIKE #{keyword} || '%'
			</when>
			<otherwise>

			</otherwise>
		</choose>
		ORDER BY apv_sq DESC)A
     <![CDATA[
    WHERE ROWNUM<=#{endCount})B
WHERE B.RNUM>=#{startCount}
         ORDER BY RNUM ASC
 ]]>
	</select>



</mapper>
