<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.groupware.mapper.DataReplyMapper">

	<insert id="create" parameterType="Map">
		INSERT INTO DT_RPY_TB (
		dt_rpy_sq,
		data_sq,
		stf_sq,
		dt_rpy_cnt,
		dt_rpy_dt,
		dt_rpy_mod
		)
		VALUES(SEQ_DT_RPY.NEXTVAL,#{data_sq},#{stf_sq},#{dt_rpy_cnt},SYSDATE,SYSDATE)
	</insert>

	<select id="read" parameterType="Map" resultType="DataReplyVO">
		SELECT
		*
		FROM
		DATA_RPY_VW
		WHERE dt_rpy_sq = #{dt_rpy_sq}
	</select>

	<update id="update" parameterType="Map" >
		UPDATE DT_RPY_TB SET
		dt_rpy_cnt=#{dt_rpy_cnt},
		dt_rpy_mod = SYSDATE
		WHERE dt_rpy_sq = #{dt_rpy_sq}
	</update>
	
	<delete id="delete" parameterType="Map">
		DELETE FROM DT_RPY_TB
		WHERE dt_rpy_sq = #{dt_rpy_sq}
	</delete>



	<select id="listAll" resultType="com.study.groupware.vo.DataReplyVO">
 		<![CDATA[

   SELECT
   *
   FROM
   DATA_RPY_VW
   WHERE data_sq =#{data_sq}

  
 ]]>
	</select>


</mapper>
