<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.groupware.mapper.LoginMapper">

	<!-- 관리자 조회 쿼리문 -->
	<select id="read" resultType="com.study.groupware.vo.LoginVO">

		SELECT stf_sq, stf_pw
		FROM STF_TB
		WHERE stf_sq = #{stf_sq}
		AND stf_pw = CRYPTPACK.ENCRYPT(#{stf_pw}, 'admin')
	</select>

	<!-- 로그인 쿼리문 -->
	<select id="cnt" resultType="String">


		SELECT COUNT(*) AS CNT
		FROM STF_TB
		WHERE stf_sq = #{stf_sq}
		and stf_pw = CRYPTPACK.ENCRYPT(#{stf_pw}, 'admin')

	</select>


</mapper>